@font-face {
  font-family: 'mtdicon';
  src: url('#{$icon-font-path}/mtdicon.eot?1570699370730');
  src: url('#{$icon-font-path}/mtdicon.eot?1570699370730#iefix') format('embedded-opentype'),
    url('#{$icon-font-path}/mtdicon.ttf?1570699370730') format('truetype'),
    /* IE9*/ url('#{$icon-font-path}/mtdicon.woff?1570699370730') format('woff'),
    url('#{$icon-font-path}/mtdicon.svg?1570699370730#mtdicon') format('svg'); /* iOS 4.1- */
}

.mtdicon-visibility-on-o:before {
  content: '\e606';
}
.mtdicon-collapse:before {
  content: '\e6aa';
}
.mtdicon-expand:before {
  content: '\e6ab';
}
.mtdicon-areachart:before {
  content: '\e8b7';
}
.mtdicon-add:before {
  content: '\e8b8';
}
.mtdicon-arrow-left:before {
  content: '\e8b9';
}
.mtdicon-arrow-up:before {
  content: '\e8ba';
}
.mtdicon-add-thick:before {
  content: '\e8bb';
}
.mtdicon-arrow-down:before {
  content: '\e8bc';
}
.mtdicon-arrow-right:before {
  content: '\e8bd';
}
.mtdicon-avatar-o:before {
  content: '\e8be';
}
.mtdicon-barschart:before {
  content: '\e8bf';
}
.mtdicon-bell:before {
  content: '\e8c0';
}
.mtdicon-bell-o:before {
  content: '\e8c1';
}
.mtdicon-calculator-o:before {
  content: '\e8c2';
}
.mtdicon-calendar:before {
  content: '\e8c3';
}
.mtdicon-beijing:before {
  content: '\e8c4';
}
.mtdicon-calculator:before {
  content: '\e8c5';
}
.mtdicon-calendar-o:before {
  content: '\e8c6';
}
.mtdicon-cards-view:before {
  content: '\e8c7';
}
.mtdicon-checkbox-checked:before {
  content: '\e8c8';
}
.mtdicon-check-thick:before {
  content: '\e8c9';
}
.mtdicon-cart:before {
  content: '\e8ca';
}
.mtdicon-checkbox-indetermina:before {
  content: '\e8cb';
}
.mtdicon-checkbox-unchecked:before {
  content: '\e8cc';
}
.mtdicon-cart-o:before {
  content: '\e8cd';
}
.mtdicon-close:before {
  content: '\e8ce';
}
.mtdicon-close-thick:before {
  content: '\e8cf';
}
.mtdicon-code:before {
  content: '\e8d0';
}
.mtdicon-code-off:before {
  content: '\e8d1';
}
.mtdicon-copy-o:before {
  content: '\e8d2';
}
.mtdicon-copy:before {
  content: '\e8d3';
}
.mtdicon-customer:before {
  content: '\e8d4';
}
.mtdicon-customer-o:before {
  content: '\e8d5';
}
.mtdicon-delete:before {
  content: '\e8d6';
}
.mtdicon-database-o:before {
  content: '\e8d7';
}
.mtdicon-delete-o:before {
  content: '\e8d9';
}
.mtdicon-download-o:before {
  content: '\e8db';
}
.mtdicon-edit-o:before {
  content: '\e8dc';
}
.mtdicon-drill-down-o:before {
  content: '\e8dd';
}
.mtdicon-edit:before {
  content: '\e8de';
}
.mtdicon-ellipsis:before {
  content: '\e8df';
}
.mtdicon-error-circle-thick-o:before {
  content: '\e8e0';
}
.mtdicon-export-o:before {
  content: '\e8e1';
}
.mtdicon-exit-fullscreen-o:before {
  content: '\e8e3';
}
.mtdicon-file-add-o:before {
  content: '\e8e6';
}
.mtdicon-file-add:before {
  content: '\e8e7';
}
.mtdicon-filter-o:before {
  content: '\e8e8';
}
.mtdicon-filter:before {
  content: '\e8e9';
}
.mtdicon-fullscreen-o:before {
  content: '\e8ea';
}
.mtdicon-guangzhou:before {
  content: '\e8eb';
}
.mtdicon-home:before {
  content: '\e8ec';
}
.mtdicon-home-o:before {
  content: '\e8ed';
}
.mtdicon-hierarchy-o:before {
  content: '\e8ee';
}
.mtdicon-info-circle-o:before {
  content: '\e8ef';
}
.mtdicon-left-thick:before {
  content: '\e8f0';
}
.mtdicon-link-o:before {
  content: '\e8f1';
}
.mtdicon-info-circle:before {
  content: '\e8f2';
}
.mtdicon-link:before {
  content: '\e8f4';
}
.mtdicon-list-view:before {
  content: '\e8f5';
}
.mtdicon-loading-thick:before {
  content: '\e8f6';
}
.mtdicon-loading:before {
  content: '\e8f7';
}
.mtdicon-location-o:before {
  content: '\e8f8';
}
.mtdicon-location:before {
  content: '\e8f9';
}
.mtdicon-paste-code-o:before {
  content: '\e8fa';
}
.mtdicon-paste-o:before {
  content: '\e8fb';
}
.mtdicon-menus-o:before {
  content: '\e8fc';
}
.mtdicon-piechart:before {
  content: '\e8fd';
}
.mtdicon-payment-info-o:before {
  content: '\e8fe';
}
.mtdicon-paste:before {
  content: '\e8ff';
}
.mtdicon-remove:before {
  content: '\e900';
}
.mtdicon-question-circle-o:before {
  content: '\e901';
}
.mtdicon-right-thick:before {
  content: '\e902';
}
.mtdicon-question-circle:before {
  content: '\e904';
}
.mtdicon-refresh-o:before {
  content: '\e905';
}
.mtdicon-save:before {
  content: '\e906';
}
.mtdicon-save-o:before {
  content: '\e907';
}
.mtdicon-search:before {
  content: '\e908';
}
.mtdicon-smile-o:before {
  content: '\e909';
}
.mtdicon-share:before {
  content: '\e90a';
}
.mtdicon-shanghai:before {
  content: '\e90b';
}
.mtdicon-share-o:before {
  content: '\e90c';
}
.mtdicon-smile:before {
  content: '\e90d';
}
.mtdicon-star-o:before {
  content: '\e90e';
}
.mtdicon-star:before {
  content: '\e90f';
}
.mtdicon-success-circle-thick:before {
  content: '\e911';
}
.mtdicon-success-o:before {
  content: '\e912';
}
.mtdicon-theme:before {
  content: '\e913';
}
.mtdicon-theme-o:before {
  content: '\e914';
}
.mtdicon-time-o:before {
  content: '\e915';
}
.mtdicon-time:before {
  content: '\e916';
}
.mtdicon-transfer-info-o:before {
  content: '\e917';
}
.mtdicon-triangle-down:before {
  content: '\e918';
}
.mtdicon-transfer:before {
  content: '\e919';
}
.mtdicon-transfer-o:before {
  content: '\e91a';
}
.mtdicon-triangle:before {
  content: '\e91c';
}
.mtdicon-undo-o:before {
  content: '\e91d';
}
.mtdicon-undo:before {
  content: '\e91e';
}
.mtdicon-up-thick:before {
  content: '\e91f';
}
.mtdicon-up:before {
  content: '\e920';
}
.mtdicon-warning:before {
  content: '\e922';
}
.mtdicon-visibility-off-o:before {
  content: '\e923';
}
.mtdicon-visibility-off:before {
  content: '\e924';
}
.mtdicon-down:before {
  content: '\e927';
}
.mtdicon-down-thick:before {
  content: '\e928';
}
.mtdicon-warning-circle-o:before {
  content: '\ea36';
}
.mtdicon-wifi-o:before {
  content: '\ea37';
}
.mtdicon-question-mark:before {
  content: '\ea38';
}
.mtdicon-store-distribute-o:before {
  content: '\ea39';
}
.mtdicon-success-circle:before {
  content: '\ea3b';
}
.mtdicon-triangle-right:before {
  content: '\ea3c';
}
.mtdicon-warning-circle:before {
  content: '\ea3d';
}
.mtdicon-left:before {
  content: '\ea40';
}
.mtdicon-error-circle-thick-o1:before {
  content: '\ea41';
}
.mtdicon-error-circle:before {
  content: '\ea42';
}
.mtdicon-fast-backward:before {
  content: '\ea43';
}
.mtdicon-right:before {
  content: '\ea44';
}
.mtdicon-fast-forward:before {
  content: '\ea45';
}
