@font-face {
  font-family: "mtdicon";
  src: url('#{$icon-font-path}/mtdicon.ttf?t=1589269796054');
  /* IE9*/
  src: url('#{$icon-font-path}/mtdicon.ttf?t=1589269796054') format('truetype'),
  url('#{$icon-font-path}/mtdicon.woff?t=1589269796054') format('woff'),
  url('#{$icon-font-path}/mtdicon.svg?t=1589269796054#mtdicon') format('svg'); /* iOS 4.1- */
}

.mtdicon-flame:before { content: "\e000"; }
.mtdicon-flame-fill:before { content: "\e001"; }
.mtdicon-badge:before { content: "\e002"; }
.mtdicon-jigsaw-fill:before { content: "\e003"; }
.mtdicon-bolt:before { content: "\e004"; }
.mtdicon-bolt-fill:before { content: "\e005"; }
.mtdicon-jigsaw:before { content: "\e006"; }
.mtdicon-trophy-fill:before { content: "\e007"; }
.mtdicon-trophy:before { content: "\e008"; }
.mtdicon-square-stack-up:before { content: "\e009"; }
.mtdicon-slider-settings:before { content: "\e00a"; }
.mtdicon-shield-fill:before { content: "\e00b"; }
.mtdicon-shield-success:before { content: "\e00c"; }
.mtdicon-table-fill:before { content: "\e00d"; }
.mtdicon-phone:before { content: "\e00e"; }
.mtdicon-square-stack-up-fill:before { content: "\e00f"; }
.mtdicon-original:before { content: "\e010"; }
.mtdicon-monitor:before { content: "\e011"; }
.mtdicon-table:before { content: "\e012"; }
.mtdicon-qrcode:before { content: "\e013"; }
.mtdicon-floor:before { content: "\e014"; }
.mtdicon-shield-success-fill:before { content: "\e015"; }
.mtdicon-id-card:before { content: "\e016"; }
.mtdicon-shield:before { content: "\e017"; }
.mtdicon-paperplane-fill:before { content: "\e018"; }
.mtdicon-keyboard:before { content: "\e019"; }
.mtdicon-globe:before { content: "\e01a"; }
.mtdicon-paperplane:before { content: "\e01b"; }
.mtdicon-log-out:before { content: "\e01c"; }
.mtdicon-education-fill:before { content: "\e01d"; }
.mtdicon-laser-pen:before { content: "\e01e"; }
.mtdicon-funnel-chart:before { content: "\e01f"; }
.mtdicon-nosign:before { content: "\e020"; }
.mtdicon-education:before { content: "\e021"; }
.mtdicon-floor-fill:before { content: "\e022"; }
.mtdicon-adaptation-screen:before { content: "\e023"; }
.mtdicon-funnel-chart-fill:before { content: "\e024"; }
.mtdicon-demonstration:before { content: "\e025"; }
.mtdicon-bar-chart:before { content: "\e026"; }
.mtdicon-bell-slash-fill:before { content: "\e027"; }
.mtdicon-alphabetically:before { content: "\e028"; }
.mtdicon-bar-chart-fill:before { content: "\e029"; }
.mtdicon-annex:before { content: "\e02a"; }
.mtdicon-quote:before { content: "\e02b"; }
.mtdicon-like-fill:before { content: "\e02c"; }
.mtdicon-like:before { content: "\e02d"; }
.mtdicon-expand:before { content: "\e02e"; }
.mtdicon-collapse:before { content: "\e02f"; }
.mtdicon-compress:before { content: "\e030"; }
.mtdicon-checkmini:before { content: "\e031"; }
.mtdicon-questionmini:before { content: "\e032"; }
.mtdicon-closemini:before { content: "\e033"; }
.mtdicon-warningmini:before { content: "\e034"; }
.mtdicon-handle:before { content: "\e035"; }
.mtdicon-point:before { content: "\e036"; }
.mtdicon-check-thick:before { content: "\e037"; }
.mtdicon-down-thick:before { content: "\e038"; }
.mtdicon-up-thick:before { content: "\e039"; }
.mtdicon-right-thick:before { content: "\e03a"; }
.mtdicon-left-thick:before { content: "\e03b"; }
.mtdicon-newfolde:before { content: "\e03c"; }
.mtdicon-history:before { content: "\e03d"; }
.mtdicon-unlock-fill:before { content: "\e03e"; }
.mtdicon-originalsize:before { content: "\e03f"; }
.mtdicon-redo:before { content: "\e040"; }
.mtdicon-unlock:before { content: "\e041"; }
.mtdicon-template:before { content: "\e042"; }
.mtdicon-printing:before { content: "\e043"; }
.mtdicon-edit:before { content: "\e044"; }
.mtdicon-top:before { content: "\e045"; }
.mtdicon-radio-unchecked:before { content: "\e046"; }
.mtdicon-more:before { content: "\e047"; }
.mtdicon-micrify:before { content: "\e048"; }
.mtdicon-search:before { content: "\e049"; }
.mtdicon-enlarge:before { content: "\e04a"; }
.mtdicon-insert-row-down:before { content: "\e04b"; }
.mtdicon-insert-row-up:before { content: "\e04c"; }
.mtdicon-insert-column-right:before { content: "\e04d"; }
.mtdicon-file-import-fill:before { content: "\e04e"; }
.mtdicon-file-import:before { content: "\e04f"; }
.mtdicon-sort:before { content: "\e050"; }
.mtdicon-h2:before { content: "\e051"; }
.mtdicon-h1:before { content: "\e052"; }
.mtdicon-bank-card-fill:before { content: "\e053"; }
.mtdicon-sad:before { content: "\e054"; }
.mtdicon-invoice:before { content: "\e055"; }
.mtdicon-visibility-on-fill:before { content: "\e056"; }
.mtdicon-meh:before { content: "\e057"; }
.mtdicon-copy:before { content: "\e058"; }
.mtdicon-delete:before { content: "\e059"; }
.mtdicon-avatar-add-fill:before { content: "\e05a"; }
.mtdicon-bankcard:before { content: "\e05b"; }
.mtdicon-avatar-fill:before { content: "\e05c"; }
.mtdicon-info-circle:before { content: "\e05d"; }
.mtdicon-add-square-fill:before { content: "\e05e"; }
.mtdicon-checkbox-indetermina:before { content: "\e05f"; }
.mtdicon-checkbox-indetermina-o:before { content: "\e060"; }
.mtdicon-add-square-o:before { content: "\e061"; }
.mtdicon-load:before { content: "\e062"; }
.mtdicon-telephone:before { content: "\e063"; }
.mtdicon-comment:before { content: "\e064"; }
.mtdicon-picture:before { content: "\e065"; }
.mtdicon-folder:before { content: "\e066"; }
.mtdicon-tailoring:before { content: "\e067"; }
.mtdicon-rotate:before { content: "\e068"; }
.mtdicon-lookup:before { content: "\e069"; }
.mtdicon-play:before { content: "\e06a"; }
.mtdicon-file-export:before { content: "\e06b"; }
.mtdicon-file-send:before { content: "\e06c"; }
.mtdicon-file:before { content: "\e06d"; }
.mtdicon-mosaic:before { content: "\e06e"; }
.mtdicon-folder-fill:before { content: "\e06f"; }
.mtdicon-contacts:before { content: "\e070"; }
.mtdicon-avatar-group:before { content: "\e071"; }
.mtdicon-camera:before { content: "\e072"; }
.mtdicon-fabulous:before { content: "\e073"; }
.mtdicon-comment-fill:before { content: "\e074"; }
.mtdicon-avatar-add:before { content: "\e075"; }
.mtdicon-colorfont:before { content: "\e076"; }
.mtdicon-toc:before { content: "\e077"; }
.mtdicon-underlined:before { content: "\e078"; }
.mtdicon-merge-cells:before { content: "\e079"; }
.mtdicon-unmerge-cells:before { content: "\e07a"; }
.mtdicon-paint:before { content: "\e07b"; }
.mtdicon-serikeethrough:before { content: "\e07c"; }
.mtdicon-list-numbered:before { content: "\e07d"; }
.mtdicon-italic:before { content: "\e07e"; }
.mtdicon-list-bulleted:before { content: "\e07f"; }
.mtdicon-color-fill:before { content: "\e080"; }
.mtdicon-form:before { content: "\e081"; }
.mtdicon-delete-selected-row:before { content: "\e082"; }
.mtdicon-formatbold:before { content: "\e083"; }
.mtdicon-delete-selectedcolumn:before { content: "\e084"; }
.mtdicon-align-left:before { content: "\e085"; }
.mtdicon-align-right:before { content: "\e086"; }
.mtdicon-cleaner-format:before { content: "\e087"; }
.mtdicon-align-center:before { content: "\e088"; }
.mtdicon-align-justify:before { content: "\e089"; }
.mtdicon-play-fill:before { content: "\e08a"; }
.mtdicon-star-half:before { content: "\e08b"; }
.mtdicon-telephone-fill:before { content: "\e08c"; }
.mtdicon-setting-fill:before { content: "\e08d"; }
.mtdicon-schedule-fill:before { content: "\e08e"; }
.mtdicon-printing-fill:before { content: "\e08f"; }
.mtdicon-paste-code-fill:before { content: "\e090"; }
.mtdicon-picture-fill:before { content: "\e091"; }
.mtdicon-mail-fill:before { content: "\e092"; }
.mtdicon-lookup-fill:before { content: "\e093"; }
.mtdicon-hierarchy-fill:before { content: "\e094"; }
.mtdicon-invoice-fill:before { content: "\e095"; }
.mtdicon-lock-fill:before { content: "\e096"; }
.mtdicon-file-fill:before { content: "\e097"; }
.mtdicon-file-send-fill:before { content: "\e098"; }
.mtdicon-file-export-fill:before { content: "\e099"; }
.mtdicon-database-fill:before { content: "\e09a"; }
.mtdicon-error:before { content: "\e09b"; }
.mtdicon-fabulous-fill:before { content: "\e09c"; }
.mtdicon-drill-down-fill:before { content: "\e09d"; }
.mtdicon-customer:before { content: "\e09e"; }
.mtdicon-checkbox-checked:before { content: "\e09f"; }
.mtdicon-cloud-fill:before { content: "\e0a0"; }
.mtdicon-contacts-fill:before { content: "\e0a1"; }
.mtdicon-camera-fill:before { content: "\e0a2"; }
.mtdicon-avatar-group-fill:before { content: "\e0a3"; }
.mtdicon-minus:before { content: "\e0a4"; }
.mtdicon-piechart:before { content: "\e0a5"; }
.mtdicon-warning-circle:before { content: "\e0a6"; }
.mtdicon-file-add-o:before { content: "\e0a7"; }
.mtdicon-areachart-o:before { content: "\e0a8"; }
.mtdicon-piechart-o:before { content: "\e0a9"; }
.mtdicon-question-mark:before { content: "\e0aa"; }
.mtdicon-calendar:before { content: "\e0ab"; }
.mtdicon-file-add:before { content: "\e0ac"; }
.mtdicon-barschart:before { content: "\e0ad"; }
.mtdicon-barschart-o:before { content: "\e0ae"; }
.mtdicon-calendar-o:before { content: "\e0af"; }
.mtdicon-areachart:before { content: "\e0b0"; }
.mtdicon-refresh:before { content: "\e0b1"; }
.mtdicon-question-circle-o:before { content: "\e0b2"; }
.mtdicon-star:before { content: "\e0b3"; }
.mtdicon-theme:before { content: "\e0b4"; }
.mtdicon-time:before { content: "\e0b5"; }
.mtdicon-smile:before { content: "\e0b6"; }
.mtdicon-calculator:before { content: "\e0b7"; }
.mtdicon-question-circle:before { content: "\e0b8"; }
.mtdicon-save:before { content: "\e0b9"; }
.mtdicon-cart:before { content: "\e0ba"; }
.mtdicon-success-circle:before { content: "\e0bb"; }
.mtdicon-filter:before { content: "\e0bc"; }
.mtdicon-home:before { content: "\e0bd"; }
.mtdicon-share:before { content: "\e0be"; }
.mtdicon-location:before { content: "\e0bf"; }
.mtdicon-bell:before { content: "\e0c0"; }
.mtdicon-file-o:before { content: "\e0c1"; }
.mtdicon-triangle-right:before { content: "\e0c2"; }
.mtdicon-triangle-up:before { content: "\e0c3"; }
.mtdicon-triangle-down:before { content: "\e0c4"; }
.mtdicon-triangle-left:before { content: "\e0c5"; }
.mtdicon-calculator-o:before { content: "\e0c6"; }
.mtdicon-location-o:before { content: "\e0c7"; }
.mtdicon-visibility-off-o:before { content: "\e0c8"; }
.mtdicon-undo-o:before { content: "\e0c9"; }
.mtdicon-save-o:before { content: "\e0ca"; }
.mtdicon-export-o:before { content: "\e0cb"; }
.mtdicon-paste-code-o:before { content: "\e0cc"; }
.mtdicon-invoice-o:before { content: "\e0cd"; }
.mtdicon-cart-o:before { content: "\e0ce"; }
.mtdicon-drill-down-o:before { content: "\e0cf"; }
.mtdicon-hierarchy-o:before { content: "\e0d0"; }
.mtdicon-fullscreen-o:before { content: "\e0d1"; }
.mtdicon-exit-fullscreen-o:before { content: "\e0d2"; }
.mtdicon-import-export-o:before { content: "\e0d3"; }
.mtdicon-database-o:before { content: "\e0d4"; }
.mtdicon-sad-o:before { content: "\e0d5"; }
.mtdicon-smile-o:before { content: "\e0d6"; }
.mtdicon-meh-o:before { content: "\e0d7"; }
.mtdicon-success-o:before { content: "\e0d8"; }
.mtdicon-visibility-on-o:before { content: "\e0d9"; }
.mtdicon-setting:before { content: "\e0da"; }
.mtdicon-star-o:before { content: "\e0db"; }
.mtdicon-menus-o:before { content: "\e0dc"; }
.mtdicon-lock-o:before { content: "\e0dd"; }
.mtdicon-right:before { content: "\e0de"; }
.mtdicon-time-o:before { content: "\e0df"; }
.mtdicon-up:before { content: "\e0e0"; }
.mtdicon-wifi-o:before { content: "\e0e1"; }
.mtdicon-link-o:before { content: "\e0e2"; }
.mtdicon-warning-circle-o:before { content: "\e0e3"; }
.mtdicon-theme-o:before { content: "\e0e4"; }
.mtdicon-share-2:before { content: "\e0e5"; }
.mtdicon-sortupanddown-o:before { content: "\e0e6"; }
.mtdicon-refresh-o:before { content: "\e0e7"; }
.mtdicon-fast-backward:before { content: "\e0e8"; }
.mtdicon-remove:before { content: "\e0e9"; }
.mtdicon-edit-o:before { content: "\e0ea"; }
.mtdicon-left:before { content: "\e0eb"; }
.mtdicon-code-off:before { content: "\e0ec"; }
.mtdicon-bell-o:before { content: "\e0ed"; }
.mtdicon-home-o:before { content: "\e0ee"; }
.mtdicon-mail-o:before { content: "\e0ef"; }
.mtdicon-arrow-right:before { content: "\e0f0"; }
.mtdicon-list-view:before { content: "\e0f1"; }
.mtdicon-info-circle-o:before { content: "\e0f2"; }
.mtdicon-error-o:before { content: "\e0f3"; }
.mtdicon-fast-forward:before { content: "\e0f4"; }
.mtdicon-download-o:before { content: "\e0f5"; }
.mtdicon-filter-o:before { content: "\e0f6"; }
.mtdicon-cloud-o:before { content: "\e0f7"; }
.mtdicon-copy-o:before { content: "\e0f8"; }
.mtdicon-ellipsis:before { content: "\e0f9"; }
.mtdicon-delete-o:before { content: "\e0fa"; }
.mtdicon-code-on:before { content: "\e0fb"; }
.mtdicon-down:before { content: "\e0fc"; }
.mtdicon-checkbox-checked-o:before { content: "\e0fd"; }
.mtdicon-close:before { content: "\e0fe"; }
.mtdicon-arrow-up:before { content: "\e0ff"; }
.mtdicon-checkbox-unchecked:before { content: "\e100"; }
.mtdicon-check:before { content: "\e101"; }
.mtdicon-add:before { content: "\e102"; }
.mtdicon-arrow-down:before { content: "\e103"; }
.mtdicon-arrow-left:before { content: "\e104"; }
.mtdicon-error-circle:before { content: "\e105"; }
.mtdicon-share-o:before { content: "\e106"; }
.mtdicon-customer-o:before { content: "\e107"; }
.mtdicon-avatar-o:before { content: "\e108"; }
.mtdicon-header-line:before { content: "\e109"; }
.mtdicon-insert-column-left:before { content: "\e10a"; }
.mtdicon-header-column:before { content: "\e10b"; }
.mtdicon-add-message:before { content: "\e10c"; }
.mtdicon-add-message-fill:before { content: "\e10d"; }
.mtdicon-more-circle:before { content: "\e10e"; }
.mtdicon-cancel-circle:before { content: "\e10f"; }
.mtdicon-alipay:before { content: "\e110"; }
.mtdicon-amazon:before { content: "\e111"; }
.mtdicon-chrome:before { content: "\e112"; }
.mtdicon-dropbox:before { content: "\e113"; }
.mtdicon-facebook:before { content: "\e114"; }
.mtdicon-github:before { content: "\e115"; }
.mtdicon-google:before { content: "\e116"; }
.mtdicon-html5:before { content: "\e117"; }
.mtdicon-ie:before { content: "\e118"; }
.mtdicon-qq:before { content: "\e119"; }
.mtdicon-slack:before { content: "\e11a"; }
.mtdicon-twitter:before { content: "\e11b"; }
.mtdicon-wechat:before { content: "\e11c"; }
.mtdicon-weibo:before { content: "\e11d"; }
.mtdicon-wechatpay:before { content: "\e11e"; }
.mtdicon-android:before { content: "\e11f"; }
.mtdicon-apple:before { content: "\e120"; }
.mtdicon-volume-fill:before { content: "\e121"; }
.mtdicon-volume-slash-fill:before { content: "\e122"; }
.mtdicon-volume-slash:before { content: "\e123"; }
.mtdicon-volume:before { content: "\e124"; }
.mtdicon-volume1-fill:before { content: "\e125"; }
.mtdicon-volume1:before { content: "\e126"; }
.mtdicon-volume2-fill:before { content: "\e127"; }
.mtdicon-volume2:before { content: "\e128"; }
.mtdicon-volume3-fill:before { content: "\e129"; }
.mtdicon-volume3:before { content: "\e12a"; }
.mtdicon-airplayvideo:before { content: "\e12b"; }
.mtdicon-shape:before { content: "\e12c"; }
.mtdicon-schedule:before { content: "\e12d"; }
.mtdicon-at:before { content: "\e12e"; }
.mtdicon-briefcase-fill:before { content: "\e12f"; }
.mtdicon-briefcase:before { content: "\e130"; }
.mtdicon-unbell:before { content: "\e131"; }
.mtdicon-video-fill:before { content: "\e132"; }
.mtdicon-review-fill:before { content: "\e133"; }
.mtdicon-folder-list:before { content: "\e134"; }
.mtdicon-review:before { content: "\e135"; }
.mtdicon-folder-list-fill:before { content: "\e136"; }
.mtdicon-nonetwork:before { content: "\e137"; }
.mtdicon-more-circle-fill:before { content: "\e138"; }
.mtdicon-cancel-circle-fill:before { content: "\e139"; }
.mtdicon-video:before { content: "\e13a"; }
.mtdicon-warning:before { content: "\e13b"; }
