// page
// ------------------
$min-width: 1200px;

// Header
// ------------------
$header-height: 60px;
$header-padding: 10px 20px;
$header-box-shadow: 0 2px 8px 0 rgba(93, 98, 106, 0.1);

// index
// ------------------
$header-index: 1899;
